{% extends "../base.html" %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Gootstrap</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li  class="active"><a href="/account/login">Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {% if error %}
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 alert alert-danger" role="alert">{{error}}</div>
        </div>
    {% endif %}
    {% if ok %}
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 alert alert-success" role="success">{{ok}}</div>
        </div>
    {% endif %}
    <form class="form row" action="/account/register" method="POST">
        <div class="form-group col-md-4 col-md-offset-4">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email"/>
        </div>
        <div class="form-group  col-md-4 col-md-offset-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password"/>
        </div>
        <div class="form-group  col-md-4 col-md-offset-4">
            <label for="password_repeat">Password confirmation</label>
            <input type="password" class="form-control" id="password_repeat" name="password_repeat" placeholder="password confirmation"/>
        </div>
        <div class=" col-md-4 col-md-offset-4">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
    <div class="row">
        <p class="col-md-4 col-md-offset-4 text-center">
            <br>
            Already have an account? <a href="/account/login">login here</a>
        </p>
    </div>
</div>

<div class="container">
    <hr>
    <footer>
        <p>&copy; 2015 Company, Inc.</p>
    </footer>
</div>
{% endblock %}
