<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gootstrap</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/js/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <style>
            body {
                padding-top: 50px;
            }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
